<h1 class="text-center">The Hangman</h1>
<div class="instructions d-flex flex-column align-items-center mt-50px">
  <svg viewBox="0 0 10 12" class="hangman">
    <path d="M1,11 h8" />

    <path d="M9,11 v-10" />

    <path d="M9,1 h-4" />

    <path d="M5,1 v2" />

    <circle cx="5" cy="4" r="1" />

    <path d="M5,5 v3" />

    <path d="M5,5 l-2,2" />

    <path d="M5,5 l2,2" />

    <path d="M5,8 l-2,2" />

    <path d="M5,8 l2,2" />
  </svg>
  <h2>Game instructions</h2>
  <span class="text-center"
    >Select a word length, then the game will give you a random word. You need
    to guess what letters are in the word. If you are correct, then the game
    will reveal all the instances of the letter in the word. If you are wrong,
    one of the hanged stickman's body part will be revealed. Make enough wrong
    choices, and you lose! You can always start a new game, and you can see the
    instructions again at any time during the game.</span
  >
</div>

<a
  class="next-link mt-24px"
  [routerLink]="(gameQuery.nextRouteFromInstructions$ | async)!"
  >GOT IT!</a
>
