<svg viewBox="0 0 10 12" class="hangman">
  <path *ngIf="invalidAttemptsCount >= 1" d="M1,11 h8" />

  <path *ngIf="invalidAttemptsCount >= 2" d="M9,11 v-10" />

  <path *ngIf="invalidAttemptsCount >= 3" d="M9,1 h-4" />

  <path *ngIf="invalidAttemptsCount >= 4" d="M5,1 v2" />

  <circle *ngIf="invalidAttemptsCount >= 5" cx="5" cy="4" r="1" />

  <path *ngIf="invalidAttemptsCount >= 6" d="M5,5 v3" />

  <path *ngIf="invalidAttemptsCount >= 7" d="M5,5 l-2,2" />

  <path *ngIf="invalidAttemptsCount >= 8" d="M5,5 l2,2" />

  <path *ngIf="invalidAttemptsCount >= 9" d="M5,8 l-2,2" />

  <path *ngIf="invalidAttemptsCount >= 10" d="M5,8 l2,2" />
</svg>
