.button-with-shadow {
  background-color: white;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;

  &.black-fill {
    background-color: black;
    color: white;
  }

  &:disabled {
    color: rgba(0,0,0,0.2);
  }
}
