.next-link {
  border: none;
  border-radius: 4px;
  background-color: black;
  min-width: 164px;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
