:root {
    --card-box-shadow-color: #231ed43d;
    --card-box-shadow: 0 4px 12px 0 var(--card-box-shadow-color);
    --input-box-shadow: 0 2px 4px 0 #f6f6fd;
    --light-bg: #dbdaff;
    --light-bg-2: #f4f7f9;
    --icon-color: #ff336e;
    --primary-2-100: #ff336e;
    --primary-2-100-light: #ff336e0d;
    --dark: #292929;
    --dark-2: #0a093fbf;
    --light: #eeedfc;
    --input-gray: #707070;

    --slide-toggle-gray: #B6C3D3;
    --slide-toggle-green: #1DAF57;

    --primary-100: #231ed4;
    --primary-100-light: #5955e7;
    --primary-100-placeholder: #231ed445;

    --tick-outer-background: #40b80433;
    --tick-inner-background: #40b804;

    --primary-green: #148541;

    --content-width: 984px;
    --b2b-widget-width: 317px;
}
