:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.won, .lost {
  font-weight: 700;
  align-self: center;
}

.won {
  color: green;
}

.lost {
  color: red;
}

.status {
  display: flex;
  min-height: 70px;
  align-items: flex-end;
}

.desktop-stickman {
  margin-right: 50px;
}

.mobile-stickman {
  align-self: center;
}

.game-body {
  max-width: 550px;
}

.end-game-button, .start-new-game-button {
  padding: 4px;
  min-width: 145px;
  border: none;
}

.end-game-button {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
}

.start-new-game-button {
  background-color: black;
  color: white;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 20px;
}
