<h1 class="text-center">The Hangman</h1>
<div class="description d-flex flex-column mt-50px">
  <span class="text-center">Let's play <strong>Hangman!</strong></span>
  <span class="text-center">How many letters do you want in your word?</span>
</div>

<div class="available-length-buttons-container flex-grow-1 mt-24px">
  <button
    *ngFor="let availableLength of (gameQuery.availableWordLengths$ | async)!"
    (click)="selectWordLength(availableLength)"
    class="button-with-shadow available-length-button"
    [class.black-fill]="selectedLength === availableLength"
  >
    {{ availableLength }}
  </button>
  <button
    class="button-with-shadow available-length-button random-button"
    [class.black-fill]="selectedLength === 'random'"
    (click)="selectRandom()"
  >
    Random
  </button>
</div>

<button class="next-link" (click)="goNext()">LET'S PLAY!</button>
